
@{
    ViewBag.Title = "Right";
}


<div class="container">
    <div class="row">
        <div class="row">
            <h3 class="btn btn-danger">
                <a href="@Url.Action("ViewOrder","Order")"> All Order </a>
            </h3>
            <br/>
            <h3 class="btn btn-danger">
                <a href="@Url.Action("ViewStaff","Staff")"> All Staff </a>
            </h3>
            <br/>
            <h3 class="btn btn-danger">
                <a href="@Url.Action("ViewJobs","Recuritment")"> All Recuritment </a>
            </h3>
            <br/>

          




            <h1><a href="@Url.Action("AdminLogin","AdminSection")">Logout </a></h1>

        </div>

    </div>

</div>