@{
    ViewBag.Title = "About";
}<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-righ">
                    <div class="position-relative">
                        <img src="~/assets/images/about1.jpg" alt="" class="img-fluid radius-image-full">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 about-right-faq align-self">
                    <h5 class="title-small mb-1">Our Resturant</h5>

                    <p class="mt-4">At Burger Shop, a love of good food, good people, and good times has always been at the heart of what we do. Launched in 2014, the concept was simple: to serve delicious, honest burgers, sides and drinks using quality ingredients at an affordable price. Our first 50-seat store in Ponsonby was a roaring success and the rest is history.</p>

                    <a href="#small-dialog1" class="popup-with-zoom-anim play-view text-center position-absolute mt-md-5 mt-4">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                        See Our Story
                    </a>
                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->

                </div>
            </div>
        </div>
    </div>
</section>
