@{
    ViewBag.Title = "Contact";
}

<section class="w3l-contact-7 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <h3 class="title-big">Get in touch with us</h3>
                        <p class="mb-4 mt-lg-0 mt-2">Your email address will not be published. Required fields are marked *</p>
                        <form action="QUeryRecord" method="post" class="text-right">
                            <div class="form-grid">
                                <input type="text" name="Name" id="w3lName" placeholder="Name*" required="">
                                <input type="email" name="Email" id="w3lSender" placeholder="Email*" required="">
                                <input type="text" name="Phone" id="w3lPhone" placeholder="Phone number*"
                                       required="">
                                <input type="text" name="Subject" id="w3lSubject" placeholder="Subject">
                            </div>
                            <textarea name="w3lMessage" id="Message" placeholder="Message"></textarea>
                            <button type="submit" class="btn btn-primary btn-style mt-3">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-4 cont-details">
                        <address>
                            <h5 class="mt-md-5 mt-4">Contact Address</h5>
                            <p>
                                <span class="fa fa-map-marker"></span>Burger Shop, 208  Avenue street, Corner
                                Market, NZ
                            </p>
                            <p>
                                <a href="#">
                                    <span class="fa fa-envelope"></span>burger@admin.com
                                </a>
                            </p>
                            <p><span class="fa fa-phone"></span><a href="#"> +64 534894364</a></p>

                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //contacts -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817223.2198757975!2d174.32385315159345!3d-36.859759221649874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C%20New%20Zealand!5e0!3m2!1sen!2sin!4v1600676149005!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
